.light-border-button {
  display: block;

  box-sizing: border-box;

  width: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  aspect-ratio: auto;

  border: 2px solid var(--white);
  border-radius: 0px;

  background-color: hsla(208.00000000000003, 82.57%, 57.25%, 0.00);

  font-family: 'Source Sans 3';
  font-weight: 500;

  vertical-align: baseline;

  object-fit: fill;
}

.light-border-button:hover {
  border-style: solid;
  border-color: var(--gold-dark);
  background-color: var(--gold-dark);
  color: var(--dark-blue);
}